
@spacing: 25px;


.log-date {
    .flex-row();
    .justify-content(space-between);
    -webkit-justify-content: space-between;
    
    padding-top: @spacing;
    padding-bottom: @spacing;
    border-bottom: 1px solid @themeColor;
    
    a {
        color: @themeColor;
        text-decoration: none;
        font-size: 25pt;
        font-family: arial;
        font-weight: lighter;
    }
    
    .title {
        text-align: center;
        font-size: 1.2em;
        small {
            font-size: 0.65em;
            display: block;
        }
    }
}



.log-rate {
    padding-top: @spacing;
    padding-bottom: @spacing;
    border-bottom: 1px solid @themeColor;
    border-top: 1px solid contrast(@themeColor);
    h2 {
        text-align: center;
    }
//    &:first-child {
//        border-top: 0px solid #fff;
//    }
    &:last-child {
        border-bottom: 0px solid #fff;
    }
}


.star-rating {
    .flex-row();
    .justify-content(space-between);
    -webkit-justify-content: space-between;
    margin: 10px auto;
    
    .btn {
        width: 38px;
        padding: 0;
        text-align: center;
        font-size: 15pt;
        color: @themeColor !important;
        text-shadow: 0 1px contrast(@themeColor);
        border: 2px solid @themeColor;
        border-radius: 25px !important;
        background: transparent !important;
    }
    
    .btn--isActive {
        background: @themeColor !important;
        color: contrast(@themeColor) !important;
        text-shadow: none;
    }
}
