
@height: 48px;
@margin: 5px;

.toolbar {
    position: relative;
    min-height: @height;
    text-align: center;
    .text-center();
    .btn {
        height: auto;
    }
}

.toolbar--left, 
.toolbar--right {
    position:absolute;
    top: @margin;
    display: block;
    height: @height - ( @margin * 2 );
    
    .flex-row();
}

.toolbar--left {
    left: @margin;
    .btn {
        margin-right: @margin;
    }
}

.toolbar--right {
    right: @margin;
    .btn {
        margin-left: @margin;
    }
}
