/**
 * PoliteJS Worspace - Single Page App Builder
 * ===========================================
 *
 * The following comment (FEATURES) is a placeholder for `src/features` less
 * source inclusion instructions which are automagically created by Workspace
 *
 * If you remove it then you are responsible of loading all LESS files for
 * each feature.
 */

@import "assets/less/libs/reset.less";
@import "assets/less/libs/lesshat.less";
@import "assets/less/libs/mixins.less";

@import "assets/less/btn.less";
@import "assets/less/toolbar.less";

@theme: #f0861c;

.flex-row() {
    .display(flex);
    .flex-direction(row);
}

.flex-col() {
    .display(flex);
    .flex-direction(column);
}

.text-center() {
    .flex-col();
    .flex-wrap(nowrap);
    .justify-content(center);
}

.btn-active() {
    @color: lighten(@theme, 15%);
    background: @color;
    color: contrast(@color);
}

html, body {
    height: 100%;
    font-family: tahoma;
    font-size: 100.01%;
}

#app {
    height: 100%;
    .flex-col();
    font-size: .8em;
}

#header {
    @text: contrast(@theme);
    background: @theme;
    color: @text;
    border-bottom: 1px solid @text;
    
    .btn {
        color: @text;
    }
    .btn:active {
        .btn-active();
    }
    
}

#main {
    @bg: average(desaturate(lighten(@theme, 35%), 35%), #fff);
    @fg: contrast(@bg);
    
    .flex(1);
    padding: 10px;
    
    background: @bg;
    color: @fg;
    
    .btn {
        @color: @theme;
        background: @color;
        color: contrast(@color);
        border-radius: 4px;
    }
    .btn:active {
        .btn-active();
    }
    
}

/*FEATURES*/

